---
layout: default
---
<h1>Bem-vindo(a) à Comunidade NetPonto!</h1>
<div class="paragraph" style="text-align: left; display: block;">
  A comunidade NetPonto é uma iniciativa independente e sem fins lucrativos, que tem como simples e único objectivo a partilha de conhecimento na área de arquitectura e desenvolvimento de software na plataforma .NET, na tentativa de disseminar o conhecimento diferenciado de cada um de seus membros.<br />
  <table border="0" width="100%">
    <tr>
      <td align="center"><a href="http://www.facebook.com/netponto.org/photos" title="Fotos das reuniões anteriores!" rel="nofollow"><img src="{{ site.baseurl | prepend: site.url }}/assets/img/netponto-fotos.jpg" alt="Fotos"/></a></td>
    </tr>
  </table>
  Cada um de nós tem diferentes talentos, e com as dezenas de tecnologias que são lançadas todos os dias, é muito difícil (para não dizer impossível) estar por dentro de tudo, e essa é uma das principais vantagens em fazer parte de uma comunidade de pessoas ligadas à nossa área.<br />
  <br />
  Podemos aprender mais, e mais rápido, com as experiências de cada um.
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Vídeos de algumas das apresentações que já fizemos:<br />
  <ul class="video-gallery">
    <li><a href="{{ site.baseurl | prepend: site.url }}/sessao/introducao-ao-desenvolvimento-agil-usando-scrum/" title="Introdu&#231;&#227;o ao desenvolvimento &#225;gil usando Scrum"><img src="http://i1.ytimg.com/vi/707/hqdefault.jpg" alt="Introdu&#231;&#227;o ao desenvolvimento &#225;gil usando Scrum" /></a> <span><a href="{{ site.baseurl | prepend: site.url }}/sessao/introducao-ao-desenvolvimento-agil-usando-scrum/" title="Introdu&#231;&#227;o ao desenvolvimento &#225;gil usando Scrum">Introdu&#231;&#227;o ao desenvolvimento &#225;gil usando Scrum</a></span></li>
  </ul>
</div>

<div>
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
    <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>
  <div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Próximas Reuniões:<br /><br />
    {% assign meetings = site.meetings | sort: 'date' | reverse %}
      {% for meeting in meetings limit:5 %}
        {% assign todaysdate = site.time | date: '%s' %}
        {% assign meetingdate = meeting.date | date: '%s' %}
        {% if meetingdate >= todaysdate %}
          <ul>
            <li><strong>{{ meeting.date | date: "%d-%m-%Y" }}</strong> – <a href="{{ meeting.url | prepend: site.baseurl }}" title="Clique para ver a reunião {{ meeting.title }} na Comunidade NetPonto">{{ meeting.title }}</a></li>
          </ul>
      {% endif %}
    {% endfor %}

  <a href="{{ site.baseurl | prepend: site.url }}/reunioes/" title="Ver todas as próximas reuniões">Ver todas</a>...
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Próximos Eventos que Apoiamos:<br /><br />
  <span>(em breve)</span>
  <br />
  <a href="{{ site.baseurl | prepend: site.url }}/eventos/" title="Ver todos os próximos eventos">Ver todos</a>...
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Reuniões Anteriores:<br /><br />
  {% assign meetings = site.meetings | sort: 'date' | reverse %}
    {% for meeting in meetings limit:5 %}
      {% assign todaysdate = site.time | date: '%s' %}
      {% assign meetingdate = meeting.date | date: '%s' %}
      {% if meetingdate < todaysdate %}
        <ul>
          <li><strong>{{ meeting.date | date: "%d-%m-%Y" }}</strong> – <a href="{{ meeting.url | prepend: site.baseurl }}" title="Clique para ver a reunião {{ meeting.title }} na Comunidade NetPonto">{{ meeting.title }}</a></li>
        </ul>
    {% endif %}
  {% endfor %}
  <br />
  <a href="{{ site.baseurl | prepend: site.url }}/reunioes/" title="Ver todas as reuniões já realizadas">Ver todas</a>...
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Sessões Já Realizadas (Slides e/ou Vídeo):<br /><br />
  <ul>
    <li><a href="{{ site.baseurl | prepend: site.url }}/sessao/novidades-seguranca-asp-net-core-1.0/" title="Novidades de seguran&#231;a em ASP.NET Core 1.0">Novidades de seguran&#231;a em ASP.NET Core 1.0</a></li>
  </ul>
  <br />
  {% for session in site.sessions limit:10 %}
      <ul>
        <li><a href="{{ session.url | prepend: site.baseurl }}" title="{{ session.title }}">{{ session.title }}</a></li>
      </ul>
  {% endfor %}

  <a href="{{ site.baseurl | prepend: site.url }}/sessoes/" title="Ver todas as sessões já realizadas">Ver todas</a>...
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Membros da Comunidade NetPonto:<br /><br />
    {% for member in site.members limit:10 %}
        <ul>
          <li><a href="{{ member.url | prepend: site.baseurl }}" title="{{ member.title }}">{{ member.title }}</a></li>
        </ul>
    {% endfor %}
  <br />
  <a href="{{ site.baseurl | prepend: site.url }}/membros/" title="Ver a lista completa dos membros da Comunidade NetPonto">Ver todos</a>...
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Edições da Revista PROGRAMAR:<br /><br />
  <a href="{{ site.baseurl | prepend: site.url }}/revista-programar/45a-edicao-maio-2014/" title="Revista PROGRAMAR: 45&#170; Edi&#231;&#227;o - Maio 2014"><img src="{{ site.baseurl | prepend: site.url }}/assets/img/revista-programar/revista-programar-45-m.jpg" alt="Revista PROGRAMAR: 45&#170; Edi&#231;&#227;o - Maio 2014" style="margin: 10px; padding:10px; background-color:#ebebeb; border:1px solid #ccc;" /></a>
  <br />
  <a href="{{ site.baseurl | prepend: site.url }}/revista-programar/" title="Ver a lista completa das edições da Revista PROGRAMAR">Ver todas</a>...
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Organização:<br /><br />
<ul>
    <li>Lisboa: <a href="{{ site.baseurl | prepend: site.url }}/membro/caio-proiete/" title="Caio Proiete">Caio Proiete</a>, <a href="{{ site.baseurl | prepend: site.url }}/membro/bruno-lopes/" title="Bruno Lopes">Bruno Lopes</a>, <a href="{{ site.baseurl | prepend: site.url }}/membro/ricardo-alves/" title="Ricardo Alves">Ricardo Alves</a>, <a href="{{ site.baseurl | prepend: site.url }}/membro/vitor-tomaz/" title="Vitor Tomaz">Vitor Tomaz</a></li>
    <li>Coimbra: <a href="{{ site.baseurl | prepend: site.url }}/membro/virgilio-esteves/" title="Virgílio Esteves">Virgílio Esteves</a>, <a href="{{ site.baseurl | prepend: site.url }}/membro/caio-proiete/" title="Caio Proiete">Caio Proiete</a></li>
  </ul>
</div>

<div>
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
  <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
  <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><a href="http://fep.emrede.net" rel="nofollow"><img src="{{ site.baseurl | prepend: site.url }}/assets/img/anuncio/feito-em-portugal.png" alt="Feito em Portugal" title="Feito em Portugal" /></a></td>
    <td align="center">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="S8MKZ7PNYA3NW" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1" />
    </form>
    </td>
    <td align="center"><a href="http://www.discountasp.net/a/bfnhul" rel="nofollow"><img src="{{ site.baseurl | prepend: site.url }}/assets/img/anuncio/discountaspnet-125x125.gif" alt="DiscountASPNet" title="DiscountASP.NET: Alojamento de sites ASP .NET" /></a></td>
  </tr>
</table>
