<div id="header">
    <h1>&nbsp;</h1>
</div>
<div id="menu">
  <ul>
    {% if page.url != '/' %}
    <li><a href="{{ site.baseurl }}/" title="Ir para a página inicial">Página Inicial</a></li>
    {% endif %}
    <li><a href="http://groups.google.com/group/netponto" title="Lista de Discuss&atilde;o Oficial" rel="nofollow">Discuss&atilde;o</a></li>
    <li><a href="{{ site.baseurl }}/sessoes/" title="Veja os slides e vídeos das apresentações que já fizemos!">Apresentações</a></li>
    <li><a href="https://www.youtube.com/c/comunidadenetponto" title="Assista a gravação das apresentações que já fizemos, em nosso canal do YouTube!" rel="nofollow">Vídeos</a></li>
    <li><a href="https://www.facebook.com/netponto.org/photos" title="Fotos das reuniões anteriores!" rel="nofollow">Fotos</a></li>
    <li><a href="mailto:contacto@netponto.org?subject=Contacto" title="Entre em contacto connosco!" rel="nofollow">Contacto</a></li>
    {% comment %}
    TODO: Make this dynamic / query next meeting
    {% endcomment %}
    {% if page.url == '/' %}
    <li><a href="http://netponto.org/reuniao/11a-reuniao-presencial-da-comunidade-netponto-no-porto/" title="Clique para ver mais informações sobre a próxima reunião presencial">Próxima reuni&atilde;o: 25-06-2016</a></li>
    {% endif %}
  </ul>
</div>
