<div>
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
    <hr style="background-color:#777777; border:0pt none; color:#777777; height:1px; margin:0 auto; text-align: center; width:100%;" />
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>

<div class="paragraph" style="text-align: left; display: block; font-size:1.20em;">Mais Comunidade NetPonto:<br /><br />
<ul>
  <li>Lista de Discussão: <a href="http://groups.google.com/group/netponto" title="Participe das nossas listas de discussão!" rel="nofollow">NetPonto</a>, <a href="http://groups.google.com/group/netpontonews" title="Participe das nossas listas de discussão!" rel="nofollow">NetPontoNews</a>, e <a href="http://groups.google.com/group/netpontojobs" title="Participe das nossas listas de discussão!" rel="nofollow">NetPontoJobs</a></li>
  <li>Twitter: <a href="http://twitter.com/NetPonto" title="Siga-nos no Twitter!" rel="nofollow">NetPonto</a>, <a href="http://twitter.com/NetPontoNews" title="Siga-nos no Twitter!" rel="nofollow">NetPontoNews</a>, e <a href="http://twitter.com/NetPontoJobs" title="Siga-nos no Twitter!" rel="nofollow">NetPontoJobs</a></li>
  <li>Apresentações: <a href="http://netponto.org/sessoes/" title="Veja os slides das apresentações que já fizemos!">Slides das Apresentações</a></li>
  <li>Videos: <a href="http://www.youtube.com/netpontocomunidade" title="Assista a gravação das apresentações que já fizemos!" rel="nofollow">Vídeos das Apresentações</a></li>
  <li>Fotos: <a href="http://www.facebook.com/netponto.org/photos" title="Veja as fotos das reuniões anteriores!" rel="nofollow">Fotos das Reuniões</a></li>
  <li>Membros: <a href="http://netponto.org/membros/" title="Veja a lista completa de membros da Comunidade NetPonto!" rel="nofollow">Membros da Comunidade</a></li>
  <li>LinkedIn: <a href="http://www.linkedin.com/groups?gid=2200254" title="Faça parte do nosso grupo no LinkedIn!" rel="nofollow">Grupo NetPonto</a></li>
  <li>Facebook: <a href="http://www.facebook.com/netponto.org" title="Acompanhe a Comunidade NetPonto no Facebook!" rel="nofollow">NetPonto no Facebook</a></li>
  <li>Google+: <a href="http://plus.google.com/102891996974967558524/" title="Acompanhe a Comunidade NetPonto no Google+!" rel="nofollow">NetPonto no Google+</a></li>
</ul>
</div>
