{% assign meetingSporsors = site.data.sponsors-list %}
<h2>Patrocinador "Gold"</h2>
  {% for sporsor in meetingSporsors %}
    {% if page.gold-sponsor[0] == sporsor.id and page.gold-sponsor[0] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-gold }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.gold-sponsor[1] == sporsor.id and page.gold-sponsor[1] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-gold }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.gold-sponsor[2] == sporsor.id and page.gold-sponsor[2] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-gold }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.gold-sponsor[3] == sporsor.id and page.gold-sponsor[3] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-gold }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.gold-sponsor[4] == sporsor.id and page.gold-sponsor[4] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-gold }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
  {% endfor %}
<hr>

<h2>Patrocinador "Silver"</h2>
  {% for sporsor in meetingSporsors %}
    {% if page.silver-sponsor[0] == sporsor.id and page.silver-sponsor[0] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-silver }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.silver-sponsor[1] == sporsor.id and page.silver-sponsor[1] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-silver }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.silver-sponsor[2] == sporsor.id and page.silver-sponsor[2] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-silver }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.silver-sponsor[3] == sporsor.id and page.silver-sponsor[3] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-silver }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.silver-sponsor[4] == sporsor.id and page.silver-sponsor[4] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-silver }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
  {% endfor %}
<hr>


<h2>Patrocinador "Bronze"</h2>
  {% for sporsor in meetingSporsors %}
    {% if page.bronze-sponsor[0] == sporsor.id and page.bronze-sponsor[0] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-bronze }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.bronze-sponsor[1] == sporsor.id and page.bronze-sponsor[1] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-bronze }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.bronze-sponsor[2] == sporsor.id and page.bronze-sponsor[2] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-bronze }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.bronze-sponsor[3] == sporsor.id and page.bronze-sponsor[3] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-bronze }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
    {% if page.bronze-sponsor[4] == sporsor.id and page.bronze-sponsor[4] != blank %}
      <img src="{{ site.url }}/{{ sporsor.img-bronze }}" alt="logo de {{ sporsor.name }}">
    {% endif %}
  {% endfor %}
