<div class="paragraph" style="text-align: left; display: block;">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <!-- Assumption: every meeting starts with the participants reception -->
      <td nowrap="true">{{ page.start_time | date: "%R" }}</td>
      <td nowrap="true">&nbsp;-&nbsp;</td>
      <td width="100%"><strong>Recepção dos participantes</strong></td>
    </tr>
  {% assign sessions = site.sessions | sort: 'start_time' %}
    {% for session in sessions %}
      <!-- First session -->
      {% if page.sessions[0] == session.title and page.sessions[0] != blank %}
        <tr>
          <td nowrap="true">{{ session.start_time | date: "%R" }}</td>
          <td nowrap="true">&nbsp;-&nbsp;</td>
          <td width="100%">
            <strong><a href="{{ site.baseurl }}/sessoes/{{ session.slug }}"  title="{{ session.title }}">{{ session.title }}</a></strong> -
            {% assign speakers = site.members %}
              {% for speaker in speakers %}
                {% if session.speakers[0] == speaker.slug and session.speakers[0] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
                {% if session.speakers[1] == speaker.slug and session.speakers[1] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
              {% endfor %}
          </td>
        </tr>
        <tr>
          <td nowrap="true">&nbsp;</td>
          <td nowrap="true">&nbsp;</td>
          <td width="100%"><p>{{ session.content }}</p></td>
        </tr>
        <!-- If it's the last session will not be a coffebreak after -->
        {% if page.sessions[1] != blank %}
        <tr>
          <td nowrap="true">{{ session.end_time | date: "%R" }}</td>
          <td nowrap="true">&nbsp;-&nbsp;</td>
          <td width="100%"><strong>Coffee Break</strong></td>
        </tr>
        {% endif %}
      {% endif %}

      <!-- Second session -->
      {% if page.sessions[1] == session.title and page.sessions[1] != blank %}
        <tr>
          <td nowrap="true">{{ session.start_time | date: "%R" }}</td>
          <td nowrap="true">&nbsp;-&nbsp;</td>
          <td width="100%">
            <strong><a href="{{ site.baseurl }}/sessoes/{{ session.slug }}"  title="{{ session.title }}">{{ session.title }}</a></strong> -
            {% assign speakers = site.members %}
              {% for speaker in speakers %}
                {% if session.speakers[0] == speaker.slug and session.speakers[0] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
                {% if session.speakers[1] == speaker.slug and session.speakers[1] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
              {% endfor %}
          </td>
        </tr>
        <tr>
            <td nowrap="true">&nbsp;</td>
            <td nowrap="true">&nbsp;</td>
            <td width="100%"><p>{{ session.content }}</p></td>
        </tr>
          <!-- If it's the last session will not be a coffebreak after -->
          {% if page.sessions[2] != blank %}
          <tr>
            <td nowrap="true">{{ session.end_time | date: "%R" }}</td>
            <td nowrap="true">&nbsp;-&nbsp;</td>
            <td width="100%"><strong>Coffee Break</strong></td>
          </tr>
          {% endif %}
        {% endif %}

      <!-- Third session -->
      {% if page.sessions[2] == session.title and page.sessions[2] != blank %}
        <tr>
          <td nowrap="true">{{ session.start_time | date: "%R" }}</td>
          <td nowrap="true">&nbsp;-&nbsp;</td>
          <td width="100%">
            <strong><a href="{{ site.baseurl }}/sessoes/{{ session.slug }}"  title="{{ session.title }}">{{ session.title }}</a></strong> -
            {% assign speakers = site.members %}
              {% for speaker in speakers %}
                {% if session.speakers[0] == speaker.slug and session.speakers[0] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
                {% if session.speakers[1] == speaker.slug and session.speakers[1] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
              {% endfor %}
          </td>
        </tr>
        <tr>
            <td nowrap="true">&nbsp;</td>
            <td nowrap="true">&nbsp;</td>
            <td width="100%"><p>{{ session.content }}</p></td>
        </tr>
          <!-- If it's the last session will not be a coffebreak after -->
          {% if page.sessions[3] != blank %}
          <tr>
            <td nowrap="true">{{ session.end_time | date: "%R" }}</td>
            <td nowrap="true">&nbsp;-&nbsp;</td>
            <td width="100%"><strong>Coffee Break</strong></td>
          </tr>
          {% endif %}
        {% endif %}

      <!-- Forth session -->
      {% if page.sessions[3] == session.title and page.sessions[3] != blank %}
        <tr>
          <td nowrap="true">{{ session.start_time | date: "%R" }}</td>
          <td nowrap="true">&nbsp;-&nbsp;</td>
          <td width="100%">
            <strong><a href="{{ site.baseurl }}/sessoes/{{ session.slug }}"  title="{{ session.title }}">{{ session.title }}</a></strong> -
            {% assign speakers = site.members %}
              {% for speaker in speakers %}
                {% if session.speakers[0] == speaker.slug and session.speakers[0] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
                {% if session.speakers[1] == speaker.slug and session.speakers[1] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
              {% endfor %}
          </td>
        </tr>
        <tr>
            <td nowrap="true">&nbsp;</td>
            <td nowrap="true">&nbsp;</td>
            <td width="100%"><p>{{ session.content }}</p></td>
        </tr>
          <!-- If it's the last session will not be a coffebreak after -->
          {% if page.sessions[4] != blank %}
          <tr>
            <td nowrap="true">{{ session.end_time | date: "%R" }}</td>
            <td nowrap="true">&nbsp;-&nbsp;</td>
            <td width="100%"><strong>Coffee Break</strong></td>
          </tr>
          {% endif %}
        {% endif %}

      <!-- Fifht session -->
      {% if page.sessions[4] == session.title and page.sessions[4] != blank %}
        <tr>
          <td nowrap="true">{{ session.start_time | date: "%R" }}</td>
          <td nowrap="true">&nbsp;-&nbsp;</td>
          <td width="100%">
            <strong><a href="{{ site.baseurl }}/sessoes/{{ session.slug }}"  title="{{ session.title }}">{{ session.title }}</a></strong> -
            {% assign speakers = site.members %}
              {% for speaker in speakers %}
                {% if session.speakers[0] == speaker.slug and session.speakers[0] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
                {% if session.speakers[1] == speaker.slug and session.speakers[1] != blank %}
                <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
                {% endif %}
              {% endfor %}
          </td>
        </tr>
        <tr>
            <td nowrap="true">&nbsp;</td>
            <td nowrap="true">&nbsp;</td>
            <td width="100%"><p>{{ session.content }}</p></td>
        </tr>
        {% endif %}
      {% endfor %}

    <!-- Assumption: every meeting ends with the Discussion Panel and Prize Draw -->
    <tr>
      <td nowrap="true">{{ page.end_time | date: "%R" }}</td>
      <td nowrap="true">&nbsp;-&nbsp;</td>
      <td width="100%"><strong>Painel de Discussão e Sorteio de Prémios</strong></td>
    </tr>
  </tbody>
</table>
</div>

<div class="paragraph" style="text-align: left; display: block;">Nota: Ao final da reunião, escolhemos um restaurante próximo e fazemos um almoço em grupo para continuar o convívio e aproximar as pessoas. A participação é opcional.</div>
<br><br/>
