{% comment %}
  TODO: Add 'like' buttons (Facebook, GooglePlus)
{% endcomment %}
<div class="social">
	<div class="google" style="float:left">
		<g:plusone href="http://netponto.org:80/reuniao/74a-reuniao-presencial-da-comunidade-netponto-em-lisboa/"></g:plusone>
	</div>
	<div class="facebook" style="float:left">
		<iframe src="http://www.facebook.com/plugins/like.php?locale=pt_PT&href=http%3a%2f%2fnetponto.org%3a80%2freuniao%2f74a-reuniao-presencial-da-comunidade-netponto-em-lisboa%2f&amp;send=false&amp;layout=standard&amp;width=260&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
	</div>
</div>
<div style="clear:both;"></div>
