<div style="text-align: left;">
{% assign meetingVenues = site.data.meeting-venues %}
  {% for meetingVenue in meetingVenues %}
    {% if page.venue == meetingVenue.id %}
    <a href="{{ meetingVenue.map_url }}" title="Clique para ampliar o mapa" rel="nofollow">
      <img src="{{ site.baseurl | prepend: site.url }}/{{ meetingVenue.map_img }}" style="margin-top: 10px; margin-bottom: 10px; margin-left: 0; margin-right: 10px; border: none;" alt="localização de {{ meeting_venue.name }}" />
    </a>
    <div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px;">Clique para ampliar o mapa.</div>
      {% if meetingVenue.gps_coordinates != blank %}
        <span>Coordenadas GPS: {{ meetingVenue.gps_coordinates }}</span>
      {% endif %}
      {% if meetingVenue.directions != blank %}
        <span>
          Direções:<br>
          {{ meetingVenue.directions }}
        </span>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
