{% assign meetingVenues = site.data.meeting-venues %}
  {% for meetingVenue in meetingVenues %}
    {% if page.venue == meetingVenue.id %}
    <address class="paragraph" style="text-align: left; display: block; font-size:1em; line-height: 0.5;">
      <p><strong>{{ meetingVenue.name }}</strong>
        {% if meetingVenue.room != blank %}
        <span>– {{ meetingVenue.room }}</span>
        {% endif %}
      </p>
      <p>{{ meetingVenue.street }}</p>
      <p>{{ meetingVenue.zip_code }} {{ meetingVenue.city }}</p>
      <p>{{ meetingVenue.country }}</p>
    </address>
    {% endif %}
  {% endfor %}
