<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content">
      {{ content }}
      {% include links.html %}
      </div>
      {% include footer.html %}
    </div>
    {% comment %}
    TODO: Add Google Analytics if not running locally
    {% endcomment %}
    {% comment %}
    TODO: Add User Voice Suggestions if not running locally
    {% endcomment %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a9e27f5535dbadc"></script>
  </body>
</html>
