---
layout: default
---

<p>Apresentação realizada em {{ page.date | date: "%d-%m-%Y" }} na <a href="{{ site.baseurl }}/reuniao/{{ page.meeting }}" title="Clique para ver o perfil de {{ page.meeting }} na Comunidade NetPonto">{{ page.meeting }}</a></p>

<h2>{{ page.title }}</h2>
{% include social-media-buttons.html %}

{{ content }}

{% unless page.videos_urls == blank %}
  <p>Video desta apresentacão:</p>
  {% comment %}
    TODO: resolver a questão do URL do video (não tem o ID para embebed é só watch)... quando passarmos para o HTML podemos usa a tag video e aí dá para usar este URL
  {% endcomment %}
  <iframe width="480" height="360" src="{{ page.videos_src }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <a href="{{ page.videos_urls }}" title="Clique para ver o video desta sessão da Comunidade NetPonto">{{ page.videos_urls }}</a>
{% endunless %}

{% unless page.slides_urls == blank %}
  <p>Slides desta apresentação:</p>
  <a href="{{ page.slides_urls }}" title="Clique para ver os slides desta sessão da Comunidade NetPonto">{{ page.slides_urls }}</a>
{% endunless %}
