---
layout: default
---

<p>Apresentação realizada em {{ page.date | date: "%d-%m-%Y" }} na <a href="{{ site.baseurl }}/reuniao/{{ page.meeting }}" title="Clique para ver o perfil de {{ page.meeting }} na Comunidade NetPonto">{{ page.meeting }}</a></p>

<h2>{{ page.title }}</h2>
{% include social-media-buttons.html %}
<p>Por:
{% assign speakers = site.members %}
  {% for speaker in speakers %}
    {% if page.speakers[0] == speaker.slug and page.speakers[0] != blank %}
      <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
    {% endif %}
    {% if page.speakers[1] == speaker.slug and page.speakers[1] != blank %}
      <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
    {% endif %}
    {% if page.speakers[2] == speaker.slug and page.speakers[2] != blank %}
      <a href="{{ site.baseurl }}/membros/{{ speaker.slug }}" title="Clique para ver o perfil de {{ speaker.name }} na Comunidade NetPonto">{{ speaker.name }}</a>
    {% endif %}
  {% endfor %}

</p>
{{ content }}

{% unless page.videos_urls == blank %}
  <p>Video desta apresentacão:</p>
  <iframe src="//www.youtube-nocookie.com/embed/{{ page.videos_watch }}?rel=0" frameborder="0" allowfullscreen></iframe>
  <br>
  <a href="{{ page.videos_urls }}" title="Clique para ver o video desta sessão da Comunidade NetPonto">{{ page.videos_urls }}</a>
{% endunless %}

{% unless page.slides_urls == blank %}
  <p>Slides desta apresentação:</p>
  <a href="{{ page.slides_urls }}" title="Clique para ver os slides desta sessão da Comunidade NetPonto">{{ page.slides_urls }}</a>
{% endunless %}
